<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259224209333-qodq5qskbcf3rjoh19qbipidd7cmimio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259224209333-qodq5qskbcf3rjoh19qbipidd7cmimio</string>
	<key>API_KEY</key>
	<string>AIzaSyBFfIlxFsfApHv4cN4PjZr28H76R3GaIXw</string>
	<key>GCM_SENDER_ID</key>
	<string>259224209333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rasporedi</string>
	<key>PROJECT_ID</key>
	<string>skola-ecef2</string>
	<key>STORAGE_BUCKET</key>
	<string>skola-ecef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259224209333:ios:ce8ab1a175853a41d1bbfc</string>
</dict>
</plist>